  <footer class="footer">
    <div class="footer-top">
      <img src="/images/dushny.svg" alt="Душный" class="footer-img" width="auto" height="50" />
      <img src="/images/djamshid-aihan.svg" alt="Djamshid Aihan" class="footer-img" width="auto" height="50" />
    </div>
    <div class="footer-bottom">
      <div class="contact"><a href="https://t.me/sayfullaev_uz" target="_blank" rel="noopener noreferrer" style="color: inherit;">sayfullaev_uz</a> | mr.sayfullaev@gmail.com</div>
      <div class="copy">© AI Khan Publishing | 2026</div>
    </div>
  </footer>
